{% extends 'shop/basic.html' %}

{% block title %}
  About - My Awesome Cart
{% endblock %}
{% block body %}
  <main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">MY AWESOME CART</h1>
          <p class="col-md-8 fs-4">Welcome to my awesome cart, your one-stop destination for all your shopping needs! At ShopEase, we believe in providing our customers with an unparalleled shopping experience, offering a wide range of products at competitive prices.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>Our mission is to make shopping easy, enjoyable, and accessible for everyone. We strive to bring you the latest and greatest in fashion, electronics, home essentials, and more, all from the comfort of your home.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Add borders</h2>
            <p>Diverse Product Range: From trendy fashion to cutting-edge electronics, from kitchen essentials to fitness gear, we have it all. Our extensive catalog is curated to meet the needs and preferences of every shopper.

            </p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>

      <footer class="pt-3 mt-4 text-body-secondary border-top">&copy; 2024</footer>
    </div>
  </main>
{% endblock %}
